.logo-img {
    width: 120px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 80px; /* Limita a altura máxima, se necessário */
    object-fit: contain; /* Garante que a imagem não seja cortada */
}